body{
    height: 225px;
    width: 1350px;
    background-image: url("autos/mustang_blanco.jpg");
    background-size: cover;
    background-size: 86rem;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    float: left;
}

.links {
    font-style: italic;
    color: rgb(11, 100, 26);
    text-align: center;
    font-size: x-large;


}

.tablas {
    font-size: small;
    color: rgb(252, 249, 248);
    text-align: center;
}


.titulos {
    color: rgb(114, 11, 8);
    text-align: right ;
    font-size: xx-large;
    text-align: center;
    text-decoration: overline underline;
    
}

::-webkit-scrollbar {
    display: none;
}

.word {
    color: aliceblue;
}

.autos {
    height: 390px;
    width: 220px;
}

.parrafo {
    color: rgb(127, 146, 22);
    text-align: center;
}